*{
    max-width: 380px;
   
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.contenedorsobre{
    width: 380px;
    height: 700px;
    overflow: hidden;
    position: relative;
}

.sobreuno{
    position: absolute;
    top: -10px;
    z-index: 5;
}

.sobredos{
    position: absolute;
    bottom: 5px;
}

.boton{
 position: absolute;
 z-index: 6;
 bottom: 120px;
 left: 120px;
 right: 120px;

background-color: rgb(255, 255, 255);
border: none;
padding: 10px 5px;
border-radius: 50px
}

.textoboton{
    font-size: 1.5em;
    font-family: "Cardo", serif;
    font-weight: 400;
}

.textosobre{
    position: absolute;
    z-index: 7;

    top: 80px;
    left: 90px;
}

.nombres{
    font-family: "Imperial Script", cursive;
    font-weight: 200;
    text-align: center;
    line-height: 50px;
    font-size: 4em;
} 

/*animaciones*/

.animacionactivada .sobreuno{
    transform: translateY(-100%);
    transition: 1.2s ease-in-out;
    opacity: 0;
}

.animacionactivada .sobredos{
    transform: translateY(100%);
    transition: 1.2s ease-in-out;
    opacity: 0;
}

.animacionactivada .nombres{
    transform: translateX(-100%);
    transition: 1.2s ease-in-out;
    opacity: 0;
}

.animacionactivada .boton{
    
    transition: 1.2s ease-in-out;
    opacity: 0;
    overflow: hidden;
}

.animacionactivada .textoboton{
    
    transition: 1.2s ease-in-out;
    opacity: 0;
    overflow: hidden;
}

